.new_img{
	height: 200px;
	width: 200px;
	border-style: groove;
	border-width: medium;
	border-color: gray;
	float: left;
}

#pic{
	height: 220px;
	width: 220px;
	border-color: black;
	float: right;
}